{% extends "learning_logs/base.html" %}

{% block page_header %}
<h2>Log in to your account.</h2>
{% endblock page_header %}

{% block content %}
<form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        <input type="text" name="username" id="id_username" class="form-control">
    </div>

    <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        <input type="password" name="password" id="id_password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Log in</button>

    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
</form>
{% endblock content %}
