{% extends "learning_logs/base.html" %}

{% block content %}
    <h2>Register</h2>
    <form method="post" class="form">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username" id="id_username" class="form-control">
        </div>

        <div class="mb-3">
            <label for="id_email" class="form-label">Email (optional)</label>
            <input type="email" name="email" id="id_email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="id_password1" class="form-label">Password</label>
            <input type="password" name="password1" id="id_password1" class="form-control">
        </div>

        <div class="mb-3">
            <label for="id_password2" class="form-label">Confirm Password</label>
            <input type="password" name="password2" id="id_password2" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock content %}
