{% extends 'learning_logs/base.html' %}

{% block content %}
    <p><a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-secondary">
        {{ topic }}
    </a></p>
    <h3>Add a New Entry</h3>

    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="form">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_text" class="form-label">Entry:</label>
            <textarea name="text" id="id_text" rows="5" class="form-control">{{ form.text.value }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add Entry</button>
    </form>
{% endblock content %}
